#landingpage {
    background-image: url(../images/doge-600.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#header{
    font-family: sans-serif;
    font-size: 80pt;
    color: white;
    text-align: center;
}