html, body {
    margin: 0;
    padding: 0;
}

.LandingSection {
    background-image: url(drownbluewaves1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    text-align: center;
}

#header {
    font-size: 360px;
}

.navbar {
    font-size: 60px;
}

#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(drownbluewaves1.jpg) no-repeat;
    background-size: contain; 
}